Bot/obj/
.vs/
Bot/bin/Debug/
Bot/PrivateKey.cs

.idea/
.vs/
PoliNetworkBot_CSharp/obj/
TLSharp/
.idea/.idea.Bot/.idea/workspace.xml


Bot.sln.DotSettings.user

Bot/bin/Debug/netcoreapp3.1/backup/

Bot/bin/Debug/netcoreapp3.1/config/

Bot/bin/Debug/netcoreapp3.1/data/


*.dat

*.bin

*.pdb

Bot/bin/Debug/netcoreapp3.1/psw_anon.txt
